@use "../abstracts/variables" as var;

.ff-sans {
  font-family: var.$ff-sans;
}

.ff-cursive {
  font-family: var.$ff-cursive;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.spacing-tighter {
  letter-spacing: -0.05em;
}

.spacing-tight {
  letter-spacing: -0.025em;
}

.spacing-normal {
  letter-spacing: 0em;
}

.spacing-wide {
  letter-spacing: 0.025em;
}

.spacing-wider {
  letter-spacing: 0.05em;
}

.text-4xl {
  font-size: var.$fs-8;
}

.text-3xl {
  font-size: var.$fs-7;
}

.text-2xl {
  font-size: var.$fs-6;
}

.text-xl {
  font-size: var.$fs-5;
}

.text-lg {
  font-size: var.$fs-4;
}

.text-base {
  font-size: var.$fs-3;
}

.text-sm {
  font-size: var.$fs-2;
}

.text-xs {
  font-size: var.$fs-1;
}

.text-4xl,
.text-3xl,
.text-2xl {
  line-height: 1.1;
}

.text-primary {
  color: hsl(var.$clr-primary);
}

.text-secondary {
  color: hsl(var.$clr-secondary);
}

.text-light {
  color: hsl(var.$clr-light);
}

.text-dark {
  color: hsl(var.$clr-dark);
}
