// Colors

$primary: #827397;
$secondary: #eeeeee;
$tertiary: #ffef61;
$dark: #5f5b5b;

// Breakpoints

$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

// Container sizing

$max-width: 1600px;
