@use "../abstracts/variables" as var;

.Home {
  header {
    background-image: url("../../assets/images/paw-bg.svg");
    background-size: cover;
    position: relative;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    height: 85vh;
    position: relative;

    h1 {
      font-size: var.$fs-6;
    }

    h2 {
      font-size: var.$fs-4;
    }

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2.4rem;
      width: 90%;
    }

    &__right {
      display: none;
      width: 50%;
      height: 100%;
      background-image: url("../../assets/images/hero-img.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
    }
  }
}

@media screen and (min-width: var.$bp-md) {
  .Home {
    .hero {
      &__buttons {
        flex-direction: row;

        .btn {
          width: 20rem;
        }
      }
    }
  }
}

@media screen and (min-width: var.$bp-lg) {
  .Home {
    .hero {
      height: 80vh;
      flex-direction: row;
      gap: 2rem;

      &__left {
        width: 50%;
        align-items: flex-start;
        text-align: left;
      }

      &__right {
        display: block;
      }

      &__buttons {
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (min-width: var.$bp-xl) {
  .Home {
    .hero {
      h1 {
        font-size: var.$fs-7;
      }
    }
  }
}
