@use "../../../styles/variables.scss" as var;

.ImageFileField {
  label {
    padding: 2rem;
    background-color: var.$primary;
    color: white;
    border-radius: 6px;
    text-align: center;
  }

  input {
    display: none;
  }
}
