@use "../../styles/variables" as var;

.Nav {
  display: flex;
  flex-direction: column;
  font-size: 2rem;

  &__top {
    display: grid;
    grid-template: 1fr / 1fr auto;
    row-gap: 1rem;
    column-gap: 3rem;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    width: 100%;

    a {
      grid-row: 1 / 2;
      padding: 0.6rem;
      display: none;
    }

    .logo {
      grid-area: 1 / 1 / 2 / 2;

      a {
        display: block;
      }
    }
  }

  &__bottom {
    border-top: 1px solid var.$primary;
    display: flex;
    flex-direction: column;
    background-color: var.$secondary;

    a {
      padding: 1.6rem;
      border-bottom: 1px solid var.$primary;
    }
  }

  &__toggle {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
  }

  &__toggle-bar {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var.$primary;
  }
}

@media screen and (min-width: var.$md) {
  .Nav {
    &__toggle {
      display: none;
    }

    &__top {
      a {
        display: block;
      }
    }

    &__bottom {
      display: none;
    }
  }
}
