.Modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  width: 90%;
  max-width: 600px;
  max-height: 50vh;
  z-index: 1;
  font-size: 1.6rem;
  overflow-y: scroll;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    font-size: 3rem;
    height: 44px;
    width: 44px;
  }

  &__title {
    margin: 0;
  }
}
