@use "../../styles/variables.scss" as var;

.Hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.6rem;
  height: 70vh;
  max-width: 1250px;

  &__img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    margin-top: 8rem;
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    color: var.$dark;
    text-align: center;
    margin: 3rem 0;
    max-width: 500px;

    &__heading {
      font-size: 3rem;
      font-weight: 500;
      margin: 1rem 0;
    }

    &__subheading {
      font-weight: 400;
      margin: 1rem 0 3rem;
    }
  }
}

@media screen and (min-width: var.$lg) {
  .Hero-container {
    flex-direction: row-reverse;
    justify-content: space-between;

    &__img {
      width: 50%;
      margin: 14rem 0 0 2rem;
    }

    .heading-container {
      justify-content: center;
      text-align: left;
    }
  }
}
