.breadcrumb {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
      gap: 1rem;

      &:last-child {
        font-weight: 700;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
